:root {
  --only-text-color: #ffffff;
  --main-text-color: #212121;
  --additional-text-color: #757575;
  --active-text-color: #2196f3;
  --transition-style: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.navigation__link:hover,
.navigation__link:focus {
  color: var(--active-text-color);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--active-text-color);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*----------------Header------------------------*/
header {
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation__logo {
  font-family: Raleway;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
}
.navigation__label {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--active-text-color);
  text-decoration: none;
}

.navigation__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--transition-style);
}
.navigation__link--active {
  color: var(--active-text-color);
}
.navigation__link--active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background: var(--active-text-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--transition-style);
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
/*--------------------hero-------------------------------*/
.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--only-text-color);
  text-transform: uppercase;
}
.hero__button {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  width: 200px;
  height: 50px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--only-text-color);
  background-color: var(--active-text-color);
  cursor: pointer;
  margin-top: 30px;
  border: transparent;
  border-radius: 4px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages {
  display: flex;
}
.advantages .advantages__item {
  margin-right: 30px;
}
.advantages__item:nth-child(4n) {
  margin-right: 0;
}
.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 270px;
  height: 16px;
}
.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  width: 270px;
  height: 75px;
  color: var(--additional-text-color);
}
.works {
  padding-top: 0;
}
.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--main-text-color);
}
.works__list {
  display: flex;
}
.works__list .works__item {
  margin-right: 30px;
}
.works__item:nth-child(3n) {
  margin-right: 0;
}
.works__overlay {
  position: relative;
}
.works__text {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  color: var(--only-text-color);
  width: 370px;
  height: 70px;
}
.team {
  background-color: #f5f4fa;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
}
.team__list .team__item {
  margin-right: 30px;
}
.team__item:nth-child(4n) {
  margin-right: 0;
}
.team__style {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--additional-text-color);
}
.social {
  display: flex;
  justify-content: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms var(--transition-style);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--active-text-color);
}
.social__link:hover > .social__icon {
  fill: var(--only-text-color);
}
.social__link:focus > .social__icon {
  fill: var(--only-text-color);
}
.social__icon {
  fill: currentColor;
  transition: fill 250ms var(--transition-style);
}
.client__list {
  display: flex;
}
.client__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.client__item:not(:last-child) {
  margin-right: 30px;
}
.client__link {
  display: block;
  padding: 12px 32px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  max-width: 170px;
  transition: border 250ms var(--transition-style);
}
.client__icon {
  fill: currentColor;
  transition: fill 250ms var(--transition-style);
}
.client__link:hover,
.client__link:focus {
  border: 1px solid var(--active-text-color);
}
.client__link:hover > .client__icon {
  fill: var(--active-text-color);
}
.client__link:focus > .client__icon {
  fill: var(--active-text-color);
}
/*-----------------------footer------------------------------*/
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__conteiner {
  display: flex;
  align-items: baseline;
}
.logo {
  margin-right: 70px;
}
.logo__link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  color: var(--only-text-color);
}
.logo__label {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--active-text-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link--maps {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: block;
  font-style: normal;
  text-decoration: none;
  color: var(--only-text-color);
}
.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: block;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.join__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--only-text-color);
  margin-bottom: 20px;
}
.join__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join__item {
  display: flex;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}
.join__link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--only-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--transition-style);
}
.join__icon {
  fill: var(--only-text-color);
}
.join__link:hover,
.join__link:focus {
  background-color: var(--active-text-color);
}

.subscription {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}
.subscription__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--only-text-color);
  margin-bottom: 20px;
}
.subscribe {
  display: flex;
}
.subscribe__input {
  width: 358px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--only-text-color);
  background-color: var(--active-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}
.subscribe__icon {
  fill: var(--only-text-color);
  margin-left: 10px;
}
/*---------------------portfolio hero-------------------*/
.filter__button--btn:hover,
.filter__button--btn:focus {
  color: var(--only-text-color);
  background-color: var(--active-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  background-color: #f5f4fa;
  color: var(--main-text-color);
  cursor: pointer;
  transition: background-color 250ms var(--transition-style),
    box-shadow 250ms var(--transition-style), color 250ms var(--transition-style);
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * 30px);
  margin-bottom: calc(-1 * 30px);
}
.portfolio__style {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portfolio__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link {
  display: block;
  transition: box-shadow 250ms var(--transition-style);
}
.portfolio__overley {
  position: relative;
  overflow: hidden;
}
.portfolio__text {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  color: var(--only-text-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--transition-style);
}
.portfolio__link:hover .portfolio__text,
.portfolio__link:focus .portfolio__text {
  transform: translateY(0%);
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio__article {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin-top: 4px;
  color: var(--additional-text-color);
}
/* -------------------BACKDROP-------------------------- */
.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: var(--only-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--third-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__icon {
  fill: var(--main-text-color);
}
.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}
.form__label {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form__send {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--additional-text-color);
  margin-bottom: 4px;
}
.form__input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms var(--transition-style);
}
.form__input:focus {
  border-color: var(--active-text-color);
  cursor: pointer;
}
.form__input:focus + .form__icon {
  fill: var(--active-text-color);
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms var(--transition-style);
}
.textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.textarea__send {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--additional-text-color);
  margin-bottom: 4px;
}
.textarea__coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border 250ms var(--transition-style);
}
.textarea__coment:focus {
  border-color: var(--active-text-color);
  cursor: pointer;
}
.textarea__coment::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.checkbox__mark {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: boborder-color 250ms var(--transition-style),
    background-color 250ms var(--transition-style);
}
.checkbox__icon {
  fill: var(--only-text-color);
}
.checkbox__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--additional-text-color);
}
.checkbox__input:checked + .checkbox__mark {
  border-color: var(--active-text-color);
  background-color: var(--active-text-color);
}
.checkbox__link {
  color: var(--active-text-color);
}

.btn-send {
  align-self: center;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--only-text-color);
  background-color: var(--active-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  transition: background-color 250ms var(--transition-style);
}
.btn-send:hover,
.btn-send:focus {
  background-color: #188ce8;
  cursor: pointer;
}
